main{
    width: 1920px;
    height: 4867px;
    background-color: #FFF;
}

.header1{
    background-color:#E554731A;
    width: 1920px;
    height: 850px;
    flex-shrink: 0;
}
.banner{
    padding: 20px 43px 20px 120px;
    display: flex;
    align-items: center;
    width: 100%;
    
}
.banner .banner-title{
    display: flex;
    width: 708px;
    color: #272727;
    font-family: Lato;
    font-size: 80px;

}
.banner .para1{
    color: #27272799;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;

}
.banner .button-primary{
    border-radius: 8px;
    color: white;
    font-weight: bold;
    background: #E55473;
    border:0;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;

}
.banner .front-picture{
    width: 625px;
    height: 830px;
    padding-left: 110px;

}
.about{

    text-align: center;
    font-style: normal;
    padding: 120px;
    position: relative;
    left: 190px;

}
.about .section-title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}
.about .section-para{
    width: 594px;
    text-align: center;
    padding: 0px 400px 0px 550px;;
    color: #27272799;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.pictures-row{
    gap: 30px;
    display: flex;
    text-align: center;
    width: 500px;
    height: 590px;
    flex-shrink: 0;
    float: left;
    padding: 0px 100px 100px 270px;
    box-shadow: none;
    position: relative;
    bottom: 80px;
    right: 65px;
}
.pic1{
    padding: 162px 80px 10px 70px;
    background-color:#A7216226 ;
    border-radius: 300px 300px 0px 0px;
    
    
}
.pic2{

    background-color:#0597A026 ;
    padding: 142px 50px 0px 50px;
    border-radius: 300px 300px 0px 0px;
}
.pic3{

    padding: 118.5px 78px 0px 76px;
    background-color:#477D1126 ;
    border-radius: 300px 300px 0px 0px;
}

.pic01{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #000000;
    padding-top: 18px;
    font-weight: bold;
    font-size: 24px;


}
.pic02{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #000000;
    padding-top: 100px;
    font-weight: bold;
    font-size: 24px;


}
.pic03{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #000000;
    padding-top: 20px;
    font-weight: bold;
    font-size: 24px;

}


.banner2{

    display: flex;
    flex-shrink: 0;
    background-color: #E554730D;
    border-radius: 8px;
    display: flex;
    width: 1920px;
    align-items: center;
    padding: 120px;

}
.off-color{
    color: #E55473;
}
.banner2 .red-roses{
    width: 318px;
    height: 420px;
    position: relative;
    left: 200px;
    
}
.banner2 .deals{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: relative;
    left: 300px;
}
.banner2 .banner-para2{
    padding: 0px;
    color:#27272799;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    left: 260px;
    bottom: 20px;
 

}
.banner2 .button-primary{
    border-radius: 8px;
    color: white;
    font-weight: bold;
    background: #E54373;
    border:0;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    left: 400px;
    top: 10px;
}
.instagram1{
    text-align: center;
    position: relative;
    top: 60px;
}
.instagram .ig-logo{ 
    position: relative;
    top: 60px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 90px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.instagram1 .ig-para{

    position: relative;
    left: 620px;
    top: 45px;
    display: flex;
    width: 594px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: center;

}
.pictures-row2{
    gap: 30px;
    position: relative;
    left: 350px;
    top: 110px;
    display: flex;
    width: 342px;
    height: 396px;
    flex-shrink: 0;

}
.searchbar1{
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;

}

.searchbar1 .form1{
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
}
.img11{
    position: relative;
    top: 380px;
    left: 1070px;

    flex-shrink: 0;
    border-radius: 8px;
  
}


.deals2{
    text-align: center;
    display: flex;
    position: relative;
    top: 290px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}
.typing-email{
    text-align: left;
    display: flex;
    position: relative;
    top: 300px;
    width: 500px;
    height: 55px;
    flex-shrink: 0;

    border-radius: 0px;
    background: #FFF;
    color: rgba(39, 39, 39, 0.60);

    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.coupon{
    text-align: center;
    display: flex;
    position: relative;
    top: 280px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.last-button{
    width: 150px;
    height: 55px;
    flex-shrink: 0;
    text-align: justify;
    display: flex;
    position: relative;
    top: 240px;
    left: 550px;
    border-radius: 0px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}

.random{
    font-style: italic;
    color: #E55473;
    font-size: 40px;
    display: flex;
    font-weight: bold;
    position: relative;
    top:590px;
    text-align: center;

}

.bouquet{
    font-style: italic;
    color: #c3808f;
    font-size: 20px;
    display: flex;
    font-weight: bold;
    position: relative;
    top:590px;
    left:40px;
    text-align: center;

}

.bouquet1{
    font-style: italic;
    color: #c3808f;
    font-size: 20px;
    display: flex;
    font-weight: bold;
    position: relative;
    top:590px;
    left:40px;
    text-align: center;

}

.bouquet2{
    font-style: italic;
    color: #c3808f;
    font-size: 20px;
    display: flex;
    font-weight: bold;
    position: relative;
    top:590px;
    left:40px;
    text-align: center;

}
.bouquet3{
    font-style: italic;
    color: #c3808f;
    font-size: 20px;
    display: flex;
    font-weight: bold;
    position: relative;
    top:590px;
    left:40px;
    text-align: center;

}
.send-order{
    font-style: italic;
    color: #c3808f;
    font-size: 20px;
    display: flex;
    font-weight: bold;
    position: relative;
    top:590px;
    left:40px;
    text-align: center;
    text-align: left;
    display: flex;
    position: relative;
    top: 700px;
    width: 1200px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 18px;

}

.send111{
    font-style: italic;
    background-color: #e2b3bd;
    text-decoration-color: #E54373;
    font-size: 15px;
    display: flex;
    font-weight: bold;
    position: relative;
    text-align: center;
    text-align: left;
    display: flex;
    position: relative;
    top: 750px;
    left: 40px;
    width: 800px;
    height: 110px;
    flex-shrink: 0;
    border-radius: 18px;

}

.buttonO{
    font-style: italic;
    background-color: #e2b3bd;
    text-decoration-color: #c01649;
    font-size: 15px;
    display: flex;
    font-weight: bold;
    position: relative;
    text-align: center;
    display: flex;
    position: relative;
    top: 800px;
    left: 40px;
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 12px;


    
}

.ccustom{
    font-style: italic;
    color: #8b3649;
    font-size: 60px;
    display: flex;
    font-weight: bold;
    position: relative;
    top:1000px;
    left:40px;
    text-align: center;


}

.i1{
    font-style: italic;
    color: #c3808f;
    font-size: 20px;
    display: flex;
    font-weight: bold;
    position: relative;
    gap: 10px;
    top:1000px;
    left:120px;

    text-align: center;
    border-image-width: auto;

}

.i2{
    font-style: italic;
    color: #c3808f;
    font-size: 20px;
    display: flex;
    font-weight: bold;
    position: relative;
    gap: 10px;
    top:1000px;
    left:500px;
    text-align: center;

}

.i3{
    font-style: italic;
    color: #c3808f;
    font-size: 20px;
    gap: 10px;
    display: flex;
    font-weight: bold;
    position: relative;
    top:1000px;
    left:900px;
    text-align: center;

}

.footer-item{
    position: relative;
    top: 1300px;
    left:0px;
    text-align: center;
    width: 1920px;
    height: 340px;
    color: white;
    background-color: #000000;


}
.shop-name{
    color: #E55473;
}

.section-title{
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    position: relative;
    top: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.end-para{
    position: relative;
    top: 50px;
    left: 660px;
    text-align: center;
    font-family: Lato;
    display: flex;
    width: 625px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}
.end-para1{
    position: relative;
    top: 70px;
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}