
.header1{
    background-color:#E554731A;
    width: 1920px;
    height: 850px;
    flex-shrink: 0;
}
.banner{
    padding: 20px 43px 20px 120px;
    display: flex;
    align-items: center;
    
}
.banner .banner-title{
    display: flex;
    width: 708px;
    color: #272727;
    font-family: Lato;
    font-size: 80px;

}
.banner .para1{
    color: #27272799;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;

}
.banner .button-primary{
    border-radius: 8px;
    color: white;
    font-weight: bold;
    background: #E55473;
    border:0;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;

}
.banner .front-picture{
    width: 625px;
    height: 830px;
    padding-left: 150px;
}